@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes gradientHover {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradientHover {
  background-size: 200% 200%;
  animation: gradientHover 3s ease infinite;
}
